<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.zing.zalo.zalosdk.core">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <provider
                android:authorities="{$applicationId}.zaloinitprovider"
                android:name="com.zing.zalo.zalosdk.core.module.ZaloSDKInitProvider"
                android:exported="false" />
    </application>
</manifest>
