<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zing.zalo.zalosdk.kotlin.oauth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.zing.zalo.permission.ACCESS_THIRD_PARTY_APP_AUTHORIZATION" />

    <application>
        <activity
            android:name="com.zing.zalo.zalosdk.kotlin.oauth.WebLoginActivity"
            android:theme="@style/FixThemeForLoginWebview"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />


        <activity android:name="com.zing.zalo.zalosdk.kotlin.oauth.BrowserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/zalosdk_login_protocol_schema" />
            </intent-filter>
        </activity>
    </application>
</manifest>